.jogo{
    background-color: #9be5e4;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.pontos {

    background-color: #32cd32;
    color: rgb(255, 255, 255);

    padding: 10px;
    border: 2px solid rgb(44, 44, 44);
    border-radius: 5px;

    font-size: 20px;
    font-weight: bold;

    width: auto;

    display: inline-block;
    position: absolute;

    left: 90px;
    top: 10px;
    z-index: 55;
}

.nuvens {
    width: 200px;
    position: absolute;
    top: 90px;
 
    animation-name: direita-para-esquerda;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mario-pulo{
    animation: mario-pulo 0.7s;
}

.cano {
    width: 30px;
    position: absolute;
    bottom: 30px;
    right: 50px;

    animation-name: direita-para-esquerda;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.parar-animacao {
    animation-play-state: paused;
}

.mario {
    height: 100px;
    position: absolute;
    bottom: 30px;
    left: 50px;
}

.chao{
    background-color: limegreen;
    height: 30px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

@keyframes direita-para-esquerda {
    from {
        right: -50px;
    }

    to{
        right: 100%;
    }
}

@keyframes mario-pulo {

    from{
        bottom: 30px;
    }

    50% {
        bottom: 150px;
    }
    to{
        bottom: 30px;
    }

}